
<%= flash[:notice] %>

<p>Link: <%= @link.url %></p>

<p>Key: <%= @link.code %></p>

<p>Generated URL: <%= link_to "http://localhost:3000/#{@link.code}", "http://localhost:3000/#{@link.code}" %>

<br />
<br />

<%= link_to "Home Page", "/links" %>

<br />
<br />

<%= link_to "Delete", link_path(@link), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>